<launch>
  <!-- Arguments (of this launch file) -->
  <arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="model type [burger, waffle, waffle_pi]"/>
  <arg name="map_file" default="$(find collaborative_autonomy)/maps/map.yaml"/>
  <arg name="move_forward_only" default="false"/>
  <arg name="first_tb3_x_pos" default="-2.0"/>
  <arg name="first_tb3_y_pos" default=" -0.5"/>
  <arg name="second_tb3_x_pos" default=" 2.0"/>
  <arg name="second_tb3_y_pos" default=" 0.5"/>

  <!-- LEADER -->
  <group ns="tb3_leader">
    <!-- Map server -->
    <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)"/>
    <!-- AMCL & move_base -->
    <include file="$(find turtlebot3_navigation)/launch/amcl.launch">
      <arg name="initial_pose_x" value="$(arg first_tb3_x_pos)"/>
      <arg name="initial_pose_y" value="$(arg first_tb3_y_pos)"/>
    </include>
    <include file="$(find turtlebot3_navigation)/launch/move_base.launch">
    </include>
  </group>

  <!-- CHASER -->
  <group ns="tb3_chaser">
    <!-- Map server -->
    <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)"/>
    <!-- AMCL & move_base -->
    <include file="$(find turtlebot3_navigation)/launch/amcl.launch">
      <arg name="initial_pose_x" value="$(arg second_tb3_x_pos)"/>
      <arg name="initial_pose_y" value="$(arg second_tb3_y_pos)"/>
    </include>
    <include file="$(find turtlebot3_navigation)/launch/move_base.launch">
    </include>
  </group>

</launch>
